<head>
    <!-- <style>
    .ul1 {
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    
    .li1 {
      display: block;
      width: 60px;
      background-color: #dddddd;
    }
    </style> -->
</head>
<!-- <div class="container"> -->

<nav class="li1">
    <a routerLink="Movies">
        <img src="assets/02.png" class="icon">
    </a>
    <a routerLink="Series">
        <img src="assets/03.png" class="icon">
    </a>
    <a routerLink="all">
        <img src="assets/04.png" class="icon">
    </a>
</nav>

<!-- </div> -->
<section>
    <header>
        <h1>Media Watch List</h1>
        <p class="description">Keeping track of Medias</p>
         <!-- <router-outlet></router-outlet>  -->
        <!-- <router-outlet></router-outlet> -->
        <!-- <mw-media-item-form [mediaItem]="firstMediaItem" (delete)="onMediaItemDelete($event)"></mw-media-item-form> -->
        <!-- <mw-media-item [mediaItem]="firstMediaItem" (delete)="onMediaItemDelete($event)"></mw-media-item> -->
        <!-- <mw-media-item-list (delete)="onMediaItemDelete($event)"></mw-media-item-list> -->
    </header>
</section>